<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RightNowTaxi</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/customstyling.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets/css/Map-Clean.css">
    <link rel="stylesheet" href="../assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <!-- Start: Navigation Clean -->
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="/"><img src="../assets/img/rnt-logo2.png" width="150px"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/cab-summary"><i class="fas fa-dollar-sign"></i>&nbsp; Cab Summary</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="/admin/failed"><i class="fas fa-exclamation-circle"></i>&nbsp; Failed Requests</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/manage-cabs"><i class="fas fa-taxi"></i>&nbsp; Manage Cabs</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/feedback"><i class="fas fa-smile"></i>&nbsp; Feedback</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/logout"><i class="fas fa-power-off text-danger"></i>&nbsp; Logout</a></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <!-- End: Navigation Clean -->
    <section class="p-lg-5">
        <div class="row justify-content-center pt-lg-5">
            <div class="col-8">
                <h1 class="display-1 text-center display-1">Failed Requests</h1>
                <p class="text-center">There weren't any cabs for them :(</p>
            </div>
        </div>
        <div class="row">
            <div class="col mt-lg-5">
                <div class="card shadow">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr class="text-info">
                                    <th>time requested</th>
                                    <th>from</th>
                                    <th>to</th>
                                    <th>distance</th>
                                    <th>revenue lost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {{#each failedreq}}
                                    <td>{{this.request_time}}</td>
                                    <td>{{this.from}}</td>
                                    <td>{{this.to}}</td>
                                    <td>{{this.distance}}km</td>
                                     <td class="text-danger">${{this.cost}}.00</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/customscript.js"></script>
</body>

</html>